@charset "utf-8";
*{margin: 0;padding: 0;}

/* hearder  */

header{width: 1000px;
margin: 0 auto;}

.visual{
    width: 1000px;
    border: 1px solid red;
}

footer{
    width: 1000px;
    height: 1000px;
}