@charset "utf-8";
html,body{height: 100%;}
/* reset  */
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a:link,a:visited{text-decoration: none; color :#1e1e1e;}
.clearfix:after{content: "";display: block;clear: both;}
img{display: block;} /*이미지 100%로 잡으면 안됨 그럼 좌악 퍼짐*/

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 15px; 
}

.menuFont{font-size : 20px;font-weight: 700;}
.container{width: 1280px;margin: 0 auto;position: relative;}

/* header  */
.hd{
    padding: 20px 0; background: white;
    width: 100%; z-index: 99;
    box-shadow: 0 0 20px rgba(0, 0, 0, 8);
    position: fixed;
    top : 0;
    /* border-bottom: 5px solid gray; */
    /* position: relative; */
    }
    

    
.hd .navWrap{
    height: 35px;
    
}
.hd h1{
    width: 165px;
    height: 35px;
    float: left;
    }
.hd h1 img{width: 100%;}
.hd .gnb{float: right;;}
.hd .gnb li{float: left; width: 170px;height: 35px;}
.hd .gnb li a{
    display: block;line-height: 35px;
    text-align: center;
    }


/* subMenu  */

/* 포지션 값을 주기위해서 sCon에다가 relative를주고
 subMenu에게 absolute값을 줘서 관리해보려고 했다.
 그러자 가로가 되어서 인라인 블록 값까지 줘보았지만
 숨겨놨던 서브메뉴가 튀어나왔고, 호버를 했을때도 메뉴가 튀어나왔다
 이중적으로 나왔다는 의미임. 
 1. subMenu>li를 한번 더 감싸서 조종해야하나?
 2. 포지션 값을 주면 레이아웃이 망가지는 이유는?
 
 포지션 값을 주면 border-bottom 값은 원하는대로 지정할 수 있지만
 서브메뉴의 리스트가 가로로 나와서 문제임.
 아 왜 다 안뜨냐?*/

#sCon{
    position: relative;

}

#sCon:hover{
    display: block;
    height: 300px;
    cursor: pointer;
}

/* #sCon li a:hover{
    border-bottom: 1px solid #ffD442;
} */

/* #sCon > li:hover{ */
    /* border-bottom: 2px solid #ffd44a; */
    /* 위에 코드를 실행시키면 패딩-바텀때문에 맨~밑에 선이 옴 */
    /* padding-bottom: 50%;
    display: block;
} */

/*문제점 원래는 글자 밑에다가 선을 그려넣기 위해서 쓴거였음
근데 블록값이랑 패딩 바텀값을 주면서 그만큼 내려왔다.
이걸 어떻게 수정해야할지 좀 감이 안옴. 선도 넣어야하는데
호버를 하면 저만큼 내려가있으니 선도 맨밑으로 가있을텐데...*/




#sCon li ul li{
    padding: 10px 0;
}

#sCon > li:hover ul{
    display: block;
    /* background: white; */
}

#sCon li .subMenu {
    display: none; /*얘를 통해서 서브메뉴를 감춰두는거임*/
    transform: translateY(-30px);
    width: 100%;
    /* height: 200px; */
    top : 76px;
    padding-top: 40px;
    /* position: absolute; */
    
}

/* #sCon li .subMenu:hover{

} */
/* 
#sCon li ul{
    width: 100%;
} */

#sCon:hover li:after{
    content:"";
    position: absolute;
    width: 50px;
    height: 3px;
    /* background: #ffd44a; */
    top : 50px;
    left : 55px

}
/* 내가 원했던 것은 재단소개를 가지고 있는 ul에 after 값을 줘서 밑에 선을 나오게 하고 싶었음
어떤선이냐면 홈페이지에 나오는데, 서브메뉴가 뜨면서 회색 선이 하나 있는데 그걸 만들어보고싶었음.
아... 다른걸 만들고있었네? */


/* #sCon > li a{
    border-bottom: 1px solid gray;
} */


#sCon li:hover ul a{
    display: block;
    padding: 2px 0;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background: white;
} 

/* 
.navWrap:hover #sCon ul a{
    display: block;
    padding: 2px 0;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background: white;

} */

/*나는 navWrap의 어느곳을 건드리든 hover 반응을 넣고싶었지만
실패했다. 죽어도 submenu 밖에 안먹음 아직도 많이 부족하다.*/




/* Banner  */

.slideWrap {
    margin-bottom: 150px;
}

.slideWrap .sItem{
    height: 100vh; /*vh = viewPort*/
    min-height: 600px;
}


.slide_pager{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
}


.txtMenu {
    width: 456px;
    height: 260px;
    position: absolute;
    color : white;
    top : 500px;

}

.txtMenu h3{
    font-size : 70px;
    width: 456px;
    height: 100px;
    top : 50px;

}

.txtMenu p{
    font-size : 24px;
    width: 456px;
    height: 60px;
}

/* .txtMenu h3 .gTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    
} */

.txtMenu .txtGame {
    display: block;
    float: left;
    margin-top: 100px;
}

/* bxSlider  */

.slideWrap .slide li {
    background-position: center;
    background-repeat: no-repeat;

}

/* section  */

.content{
    margin: 0 auto;
    width: 1280px;
}

.conWrap{
    position: relative;
    height: 300px;
}

.content .conLeft {
    position: absolute;
    left : 10px;
    
}

.content .conLeft h3{
    font-size: 43px;
    text-align: left;
}

.content .conLeft h3:after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 70px;
    height: 5px;
    background: #ffd44a;
}
.content .conRight h3{
    font-size: 18px;
    text-align: right;
}

.content .conRight {
    position: absolute;
    right : 0;
    top : 150px
}

/* img  */

.img{
    /* background: skyblue; */
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.img .imgView {
    width: calc ( ( 100% - 70px ) / 3 );
    float: left;
    margin: 10px auto;
    /* transition: 3.5s; */

}

.img .imgView h2{
    margin-top: 10px;
}


.img .imgView h2,
.img .imgView p{
    padding: 5px 5px 5px 5px;
    letter-spacing: -0.6px;
}

.img .imgView img {
    transition: 0.5s;
}

.img .imgView img:hover {
    transform: translateY(-20px);
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
}

/* visual  */


.vWrap {
    position: relative;
    width: 1280px;
    height: 462px;
    margin-bottom: 150px;
}

.vWrap .leftBox {
    width : 1114px;
    height: 338px;
    background: #ffD442;

}

.vWrap .leftBox h2 {
    font-size: 28px;
    margin-left : 100px;
    padding: 100px 140px 0 0;
}

.vWrap .leftBox p {
    display: block;
    margin-top: 24px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 500;

} 
.vWrap .rightBox {
    position: absolute;
    right: 30px;
    top: 100px;
}

/* notice  */

.notice {
    width: 100%;
    height: 965px;
    background: #F7F8F9;
}

.notice .nTab button  {
    background: #F7F8F9;
    float:right; 
    padding: 20px;
    border: none;
}


.notice .swiper-slide{
    height: 465px;
    background: white;
}

.notice .nWrap {
   padding: 150px 0;
   position: relative;
}

.notice .nWrap h1{
    font-size : 44px;
}

.nWrap .nTitle:after{
    content:"";
    position: absolute;
    width: 70px;
    height: 5px;
    background: #ffd44a;

}




.notice .swiper-slide h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
}

.notice .swiper-slide p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
} 

.notice .swiper-slide img{
    width: 100%;
}

.swiper{
    overflow: visible;
    object-fit: cover;
}

.swiper-wrapper .swiper-slide{
    transition: 0.7s;
}

.notice .swiper-slide:hover{
    transform : translateY(-20px);
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
}





/* footer  */

.ft{
    width: 100%;
    background: #1e1e1e;
    height: 300px;
}

.ftlogo a{
    width: 152px;
    height: 50px;    
}

.ftlogo a img {
    padding: 70px 0 20px 0;
 } 

.ft .ftWrap li a{
    font-size: 12px;
    color: #797879;
    float: left;
    padding: 20px 5px 30px 0;
}

.ft .copyright {
    color : #797879;
    font-size : 11px;
    padding: 15px 0 15px 0;
}

.ftWrap .ftMenu li span{
    padding : 15px 2px 0px 3px;
}