@charset "utf-8";

/* reset  */
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style:none;}
.clearfix:after{
    content:""; display: block; clear: both;
}
a:link,a:visited{
    text-decoration: none; color:#888;
}

.container {
    width: 980px;
    margin: 0 auto;
}

/* header  */

.top{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.subMenu{
    float: right;
    height: 26px;
}

.subMenu li{
    float: left;
}

.subMenu li a{
    display: block;
    padding: 0 10px;
    line-height: 26px;
    font-size: 12px;
    position: relative;
}

.subMenu li a:after{
    content:""; 
    display: block; 
    height: 10px; 
    width: 1px; 
    background: #888;
    position: absolute; 
    top : 10px; left:0px;
}

.subMenu li:first-child a:after{
    display: none;
}

h1.logo {
    width: 200px;
    height: 49px;
    margin: 0 auto;
    margin-bottom: 10px;
}

h1 img{display: block;}





